<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This home page 1+2 </h1>
    <h3> <%= 1 + 2 %></h3>
    <h3> <%= ["hello", "bonjour", "namaste"][2] %></h3>
    <p>
        Hello this is me doing my first ejs project with no css and no js just plain html.
    </p>
</body>
</html>
